body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  line-height: 2;
  color: #66BFBF;
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66CFBF;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 15px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.challenge {
  font-size: 2rem;
  width: 30%;
  margin: auto;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.cod-ing {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cloud-compute {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.first-container {
  background-color: #E4F9F5;
  margin: 0 auto 0 auto;
  padding-top: 50px;
  height: 400px;
}

.bottom-container {
  margin: 40px auto;
  background-color: #76BA99;
  padding: 30px 0 20px;

}

hr {
  width: 10%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 50px auto;


}
.bottom-cloud {
  position: absolute;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
}

.myimage {
  padding-top: 20px;
  height: 200px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #2ea3f2;
  background-image: -webkit-linear-gradient(top, #2ea3f2, #297cb0);
  background-image: -moz-linear-gradient(top, #2ea3f2, #297cb0);
  background-image: -ms-linear-gradient(top, #2ea3f2, #297cb0);
  background-image: -o-linear-gradient(top, #2ea3f2, #297cb0);
  background-image: linear-gradient(to bottom, #2ea3f2, #297cb0);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Courier New;
  color: #3b363b;
  font-size: 20px;
  padding: 7px 20px 7px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #308fcf);
  background-image: -moz-linear-gradient(top, #3cb0fd, #308fcf);
  background-image: -ms-linear-gradient(top, #3cb0fd, #308fcf);
  background-image: -o-linear-gradient(top, #3cb0fd, #308fcf);
  background-image: linear-gradient(to bottom, #3cb0fd, #308fcf);
  text-decoration: none;
}
